{% load mathfilters %}
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8" />
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
</head>
<body >
	<nav class="nav">
	    <div class="nav-left" >
	    	<div class="dropdown">
			  <button class="dropbtn"><img src="{% static 'img/drop.png' %}"></button>
			  <div class="dropdown-content">
			  	{% if user.is_superuser %}
				    <a href="/agregar">Nuevo</a>
				    <a href="/config">Opciones</a>
				    <a href="{% url 'logout' %}">Salir</a>
			    {% endif %}
			    {% for cuento in listacuentos %}
			    	<a href="{{ cuento.id }}/paginas">{{ cuento.titulo }}</a>
			    {% endfor %}
			  </div>
			</div>
	  	</div>
  	</nav>
	<div style="background-image:url('{{ config.banner.url }}');" class="banner">
	</div>
	{% for cuento in listacuentos %}

		{% if user.is_superuser %}
			<div style="background-image:url('{{cuento.portada.url}}');" class="frame t{{ cuento.id|mod:7 }}">
				<div class="container" >
					<div id="trama"  style="background-image:url('{{ config.trama.url }}');">
						<a href="{{ cuento.id }}/paginas"><h2>{{ cuento.titulo }}</h2></a>
						<p>{{ cuento.descripcion }}</p>
						<button onclick="window.location.href='/{{cuento.id}}/editar/'">Editar</button>
						<button onclick="window.location.href='/{{cuento.id}}/eliminar/'">Eliminar</button>
					</div>
					<div class="contenido">
						<a href="{{ cuento.id }}/ver"><h2>{{ cuento.titulo }}</h2></a>
						<p>{{ cuento.descripcion }}</p>
						<button onclick="window.location.href='/{{ cuento.id }}/paginas'">Editar</button>
						<button onclick="window.location.href='/{{cuento.id}}/eliminar/'">Eliminar</button>
					</div>
				</div>
			</div>
		{% else %}
			<a href="{{ cuento.id }}/ver">
				<div style="background-image:url('{{cuento.portada.url}}');" class="frame t{{ cuento.id|mod:7 }}">
					<div class="container" >
						<div id="trama"  style="background-image:url('{{ config.trama.url }}');">
							<h2>{{ cuento.titulo }}</h2>
							<p>{{ cuento.descripcion }}</p>
						</div>
						<div class="contenido">
							<h2>{{ cuento.titulo }}</h2>
							<p>{{ cuento.descripcion }}</p>
						</div>
					</div>
				</div>
			</a>
		{% endif %}
	{% endfor %}
	<div class="footer">
		<div class="foot">
			{% for colab in listacolabs %}
				<div class="colab">
			    	<p class="texto"></p>
			    	<img src="{{ colab.logo.url }}">
			        <p class="label">{{ colab.linea1 }}<br> {{ colab.linea2 }}</p>
			    </div>
			{% endfor %}
		</div>
		<p class="info">&copy; Copyright UTMACH-2018&#124;Universidad Técnica de Machala<br>
		Km. 5/2 Vía Machala Pasaje<br>
		2983362 - 2983363 - 2983364 - 2983365<br>
		utmachala@utmachala.edu.ec</p>
	</div>
</body>
</html>