{% extends 'cuentos/base.html' %}

{% block content %}
	<!-- PAGE CONTENT BEGINS -->
	{% if mensaje  %}
		<div class="alert alert-success"><strong>{{mensaje}}!</strong></div>
	{% endif %}
	<h3>Cuentos</h3>
	<table id="tablaQ" class="table table-striped table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Título</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
			{% for cuento in lista %}
			<tr>
				<td> <a href="{{ cuento.id }}/ver">{{ cuento.titulo }}</a></td>
				<td>{{ cuento.descripcion }}</td>
				{% if user.is_superuser %}
				<td><button type="button" title="Editar" class="btn btn-primary btn-circle" onclick="window.location.href='/cuentos/{{cuento.id}}/editar/'">Editar</button></td>
				<td><button type="button" title="Eliminar" class="btn btn-alert btn-circle" onclick="window.location.href='/cuentos/{{cuento.id}}/eliminar/'">Eliminar</button></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}