{% extends 'cuentos/base.html' %}

    {% block content %}

    	<h3>Configuración</h3>
    	<h4>Seleccione la nueva trama del sitio</h4>
    	<p>Trama anterior:</p>
    	<img style="width: 50vw;"  src="{{ config.trama.url }}" />

		<div >
			<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Trama nueva: </label>
						<div class="col-sm-8">
						<div class="row">
							<div class="col-xs-10 col-sm-6">
								{{ form.trama }}
							</div>
						</div>
					</div>
				</div>
															
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Aceptar
						</button>
				
						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="button" title="Cancelar" class="btn btn-alert btn-circle" onclick="window.location.href='/config'">
							Cancelar
						</button>
					</div>
				</div>

				<div class="hr hr-24"></div>
			</form>
		</div >					
								
	{% endblock content %}
	
	
